@import "../../constants/Variables.scss";

.filmDetails {

  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
  }

  &__img {
    object-fit: contain;
    margin-right: 25px;
  }

  &__info {
    display: flex;
    flex-direction: column;

    h2 {
      font-family: $font-family-about-site;
      letter-spacing: 1px;
      font-size: 30px;
      font-weight: bold;
      color: gray;
    }

    p {
      font-family: $font-family-about-site;
      color: gray;
      font-size: 17px;
      letter-spacing: 0.5px;
      padding-top: 15px;
    }
  }

  &__buttonContainer {
    display: flex;
    justify-content: center;
  }
}
